body{
    margin: 0%;
    width: 100%;
    min-height: 100%;
    height: auto;
}

#header{
    width: 100%;
    min-height: 10%;
    height: auto;
    background-color: black;
    color: white;
    text-decoration: none;
}

#logo{
    padding-left: 3%;
    float: left;
    margin: 2%;
}

#menu{
    float: right;
    margin: 1%;
    padding-right: 4%;
    overflow: hidden;
}

#menu li{
    display: inline;
    margin-right: 10px;
}

#reservas{
    border: 1px solid white;
    padding: 10px;
}

a:link, a:visited{
    text-decoration: none;
    color: white;
}

a:hover, .current{
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.container{
    overflow: hidden;
    clear: both;
    padding-left: 5%;
    min-height: 82%;
    height: auto;
    background-color: #a1a6b4;
}

main{
    word-wrap: break-word;
    float: left;
    width: 70%;
    height: auto;
}

aside{
    padding-top: 1%;
    float: right;
    width: 30%;
    height: 80%;
    background-color: #ffdf2b;
}

.footer{
    clear: both;
    width: 100%;
    height: 8%;
    background-color: black;
    color: white;
}
