---
--- 
<head>
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div id="header">
    <div id="logo">
            <a href="{{ site.baseurl }}/">
                <img src="{{site.basurl}}/assets/images/logo.png" >
            </a>
    </div>
    <div id="menu">
        <nav class="menu">
            <a class="nav-boton" onclick="accion()"><img src="{{site.basurl}}/assets/images/menu.png" width="50px" height="auto"></a>
            
            <a href="{{ site.baseurl }}/" class="nav-enlace desaparece {% if page.url == '/' %} current {% endif %}">Inicio</a></li>
            <a href="{{ site.baseurl }}/menu" class="nav-enlace desaparece {% if page.url == '/menu' %}current{% endif %}">Menú</a></li>
            <a href="{{ site.baseurl }}/quienes-somos" class="nav-enlace desaparece {% if page.url == '/quienes-somos' %}current{% endif %}">Quiénes Somos</a></li>
            <a href="{{ site.baseurl }}/contactanos" class="nav-enlace desaparece {% if page.url == '/contactanos' %}current{% endif %}">Contáctanos</a></li>
            <a href="{{ site.baseurl }}/galeria" class="nav-enlace desaparece {% if page.url == '/galeria' %}current{% endif %}">Galería</a></li>
            <a href="{{ site.baseurl }}/reservas" class="nav-enlace desaparece {% if page.url == '/reservas' %}current{% endif %}"  id="reservas">Reservas</a></li>
                
            </nav>
    </div>
</div>

<div class="container">
    <main>
        {{content}}
    </main>
    <aside>
        lorem
    </aside>
</div>

<div class="footer">
    Quienes somos y tal
</div>

<script>
    function accion(){
        console.log('está funcionando mi boton');
        var ancla = document.getElementsByClassName('nav-enlace');
        for(var i = 0; i < ancla.length; i++){
            ancla[i].classList.toggle('desaparece');
        }
    }
</script>